<%= button_to 'Excluir este filme', movie_path(@movie.id),
  method: :delete, data: { turbo_confirm: 'Confirma exclusão?' } %>
<div class="form">
<div>
  <%= render partial: 'form', locals: { movie: @movie } %>
</div>