<h2>Filmes cadastrados</h2>

<% @movies.each do |movie| %>
  <div>
      <%= link_to "#{movie.title} - #{movie.release_year}",
        movie_path(movie.id), class: 'movie_link' %> |
      <%= link_to 'Detalhes', movie_path(movie.id) %> |
      <%= link_to 'Editar', edit_movie_path(movie.id) %> 
  </div>
<% end %>

<div class="new">
  <%= link_to 'Cadastrar novo filme', new_movie_path %>
</div>