<h2>Diretores cadastrados</h2>

<% if @directors.empty? %>
  <p>Nenhum diretor cadastrado</p>
<% end %>

<% @directors.each do |director| %>
  <div>
      <%= director.name %> | 
      <%= link_to 'Detalhes', director_path(director.id) %> |
      <%= link_to 'Editar', edit_director_path(director.id) %>
  </div>
<% end %>

<div class="new">
  <%= link_to 'Cadastrar novo diretor', new_director_path %>
</div>